{% extends "Inventory/base.html" %}
{% block head_title %}
    Company(Detail)
{% endblock %}
{% block content %}
    <div style="padding-left: 30%" >
        <div class="col-sm-6">
            <h2>Add Company</h2>

            <form action="{% url 'Inventory:CompanyAdd' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="email">Code :</label>
                    <input type="text" class="form-control" id="code" name="code" >
                </div>
                <div class="form-group">
                    <label for="pwd">Name :</label>
                    <input type="text" class="form-control" id="name" name="name" >
                </div>

                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}